.container {
    text-transform: capitalize;
}
.list {
    font-size: 16px;
    margin-top: 8px;
    font-family: monospace;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
h1,
h3 {
    text-align: center;
}
